<div id = "mx">
    <div class="d-flex justify-content-around"><button type="button" class="btn btn-primary btn-lg" [routerLink]="['/progct']">Go Back</button>
    <div class="d-flex justify-content-end"><p class="fs-3"><img src="assets/profilelogo.png" width="40px" class="rounded-circle" style="background-color: white;"> {{title}}</p></div>
    </div><br>
    <h1 class="bbx text-center">{{prgi?.Title}}</h1>
    <h2 class="bbx">{{prgi?.Summary}}</h2>
    <h2 class="display-6">Description-</h2>
    <p class="fs-5 bbx jb">{{prgi?.Description}}</p>
    <div id = "ibx">
        <div>
            <h2>Target Amount</h2>
            <h4>{{prgi.Target_Amount}}$</h4>
        </div><br>
        <div>
            <h2>Funds Collected</h2>
            <h4>{{prgi.fundcollected}}$</h4>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button [routerLink]="['/payment']" [state]="{ project: prgi }" type="button" class="btn btn-primary btn-lg">Support Now</button>
    </div>
</div>