.outer-div {
    padding: 20px; /* Add padding to create some space */
    transition: background-color 0.3s; /* Add transition for smooth color change */
    padding-bottom: 60px;
}

.outer-div:hover {
    background-color: white; /* Change background color on hover */
}
.ll{
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}