
<div id = "slides">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/sld1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/sld2.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/sld3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/sld4.svg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="contnt">
    <div><h1>What Is Crowdfunding?</h1>
    <p>
      <span>Crowdfunding</span> is a method of raising funds for a project or venture by collecting small contributions from a large number of people, typically via the internet. It allows individuals or businesses to present their idea or project to a wide audience and invite them to contribute financially in exchange for rewards or early access. This approach democratizes funding, enabling projects that may not have access to traditional financing to get off the ground with support from the community.
    </p></div>
    <img src="assets/aa.svg">
</div>
  <div class="contnt" id = "contnto">
    <img src="assets/gg.png" style="width: 600px;  border-radius: 17px;">
    <div style="padding-left: 50px;"><h1>Our Aim</h1>
      <p>
        <span>Our Aim </span>is to revolutionize the way projects and ideas are funded by leveraging the power of crowdfunding. We strive to provide a platform where individuals and businesses can easily connect with a global community of backers to bring their visions to life. Through transparency, inclusivity, and innovation, we aim to empower creators, support worthy causes, and foster a culture of collaboration and opportunity.
      </p></div>
    </div><br>
<div id="stat">
  <h1>Our Accomplishments</h1>
  <div>
    <img src="assets/amnt.png" alt="">
    <h2>Amount Pledged </h2>
    <div id = "a">4,928,513$+</div>
  </div>
  <div>
    <img src="assets/fund.png" alt="">
    <h2> Projects Funded </h2>
    <div id = "b">100,000+</div>
  </div>
  <div>
    <img src="assets/ppl.png" alt="">
    <h2>Supporters </h2>
    <div id = "c">50,000+</div>
  </div>
</div>
  <div id = "optn">
    <div [routerLink]="['/progct']">
      <img src="assets/srch.png" alt="">
      <p>
        Browse our projects
      </p>
    </div>
    <div >
      <img src="assets/dnte.png" alt="">
      <p>
        Donate to Charity
      </p>
    </div>
  </div>
  <div class="container-fluid" id = "fnc">
    <div class="d-flex justify-content-center grid gap-7"><button [routerLink]="['login']" type="button" class="btn btn-outline-primary btn-lg">Login</button>
    <button [routerLink]="['register']" type="button" class="btn btn-outline-primary btn-lg">Create Account</button></div>
    <div class="d-flex justify-content-center"><button type="button" class="btn btn-outline-primary btn-lg">Login As Orginisation</button></div>
  </div>
  <div id="faq">
    <div class="container d-flex justify-content-center">
      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="button">FAQ-</button>
      <div class="accordion accordion-flush fs-3" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Q: How does crowdfunding work?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">A: Crowdfunding is a method of raising capital for a project or venture by collecting small contributions from a large number of people, typically via an online platform. Project creators set a funding goal and deadline, and backers contribute funds in exchange for rewards or equity. If the funding goal is met by the deadline, the project receives the funds; otherwise, backers are usually not charged.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Q: What types of projects can be funded through your platform?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">A: Our crowdfunding platform supports a wide range of projects across various categories, including technology, arts, music, film, social causes, and more. Whether you're a startup entrepreneur, artist, filmmaker, or activist, you can create a project and raise funds for your idea on our platform.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Q: How do I create a project on your platform?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">A: Creating a project on our platform is simple. First, sign up for an account if you haven't already. Then, navigate to the "Create Project" page and follow the step-by-step instructions to provide details about your project, such as its title, description, funding goal, rewards for backers, and project timeline. Once your project is submitted, it will undergo a review process before being published on the platform.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
              Q: What happens if a project doesn't reach its funding goal?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">A: If a project fails to reach its funding goal by the deadline, it is typically considered unsuccessful, and no funds are collected from backers. This is known as an "all-or-nothing" funding model, where backers are only charged if the project successfully reaches its funding target. However, some platforms may offer flexible funding options where creators receive the funds raised regardless of whether the goal is met.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
              Q: How can I support a project on your platform?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">A: To support a project on our platform, simply browse the available projects and select the one you wish to back. Then, choose a funding tier that corresponds to the amount you'd like to contribute and complete the payment process using your preferred payment method. As a backer, you'll receive updates on the project's progress and any rewards associated with your contribution.</div>
          </div>
        </div>
      </div>
    </div>
  </div>