<div class="container-fluid d-flex justify-content-center" id="footr">
    <div class="col-2"></div>
    <div class="col-4">
      <a class="navbar-brand fs-1 fw-bold" href="#">
        <img src="assets/logo.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
        Crowdfunding
      </a><br>
      <img src="assets/x.png" alt="" height="32px">
      <img src="assets/facbok.png" alt="" height="32px">
      <img src="assets/yt.png" alt="" height="32px">
      <img src="assets/insta.png" alt="" height="32px">
      <img src="assets/wa.png" alt="" height="32px">
      
    </div>
    <div class="col-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">About Us</li>
        <li class="list-group-item">Terms of Service and Privacy Policy</li>
        <li class="list-group-item">Newsletter Signup</li>
        <li class="list-group-item">Copyright Information</li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>   