<div class="container-fluid" id = "mbx">
  <app-baseinlud></app-baseinlud>
  <div id = "dv"> 
      <button  type="button" class="btn btn-primary btn-lg"  disabled>Login</button>
      <button [routerLink]="['/register']" type="button" class="btn btn-primary btn-lg">Register</button>
      <br>
      <form #sf="ngForm" (submit)="getreq($event,sf.value)">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input  id="email" ngModel name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name ="password" ngModel class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary" >Login</button>
        </form>
  </div>
</div>