.dv{
    height: 100vh;
    background-image: url("../../../assets/backg1.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    background-size: cover;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}